apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: oss
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: oss-canary
      stableService: oss
      trafficRouting:
        nginx:
          stableIngress: canary-ingress
          # add canary header
          additionalIngressAnnotations:
            canary-by-header: X-Canary
            canary-by-header-value: iwantsit
      steps:
      - setWeight: 5
      - pause: {}
  selector:
    matchLabels:
      app: oss
  template:
    metadata:
      labels:
        app: oss
    spec:
      containers:
      - image: ghcr.io/go-cinch/oss@sha256:83e503fe02cb27e5dc6d098fd18d612ff9ef8c5ab9dc2e5c5bc3f60d65e090b8
        imagePullPolicy: Always
        name: oss
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        envFrom:
        - configMapRef:
            name: oss-configmap
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 8080 # For http
        - name: grpc-port
          containerPort: 8180 # For grpc
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
