apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo.tempo.svc.cluster.local:3200
    isDefault: true
    editable: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus.prometheus.svc.cluster.local:9090
    isDefault: false
    editable: true
