apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: asynqmon
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: asynqmon-canary
      stableService: asynqmon
      trafficRouting:
        apisix:
          route:
            name: asynqmon-route
            rules:
            - asynqmon
      steps:
      - setHeaderRoute:
          name: header-route
          match:
          - headerName: X-Canary
            headerValue:
              exact: iwantsit
      - pause: {}
  selector:
    matchLabels:
      app: asynqmon
  template:
    metadata:
      labels:
        app: asynqmon
    spec:
      containers:
      - image: hibiken/asynqmon:latest
        imagePullPolicy: Always
        name: asynqmon
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: REDIS_ADDR
          value: redis:6379
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 8080 # For http