apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ocr-vue3
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: ocr-vue3-canary
      stableService: ocr-vue3
      trafficRouting:
        apisix:
          route:
            name: ocr-vue3-route
            rules:
            - ocr-vue3
        managedRoutes:
        - name: header-route
      steps:
      - setCanaryScale:
          replicas: 1
      - setHeaderRoute:
          name: header-route
          match:
          - headerName: X-Canary
            headerValue:
              exact: iwantsit
      - pause: {}
  selector:
    matchLabels:
      app: ocr-vue3
  template:
    metadata:
      labels:
        app: ocr-vue3
    spec:
      containers:
      - image: ghcr.io/go-cinch/ocr-vue3@sha256:084dd19f2bafffbc30572865fdd1ea6934006dba4d0396716b796461d7affbf6
        imagePullPolicy: Always
        name: ocr-vue3
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 80 # For http
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/vhost.conf
          subPath: vhost.conf
      volumes:
      - name: nginx-conf
        configMap:
          name: ocr-vue3-nginx-conf
          items:
          - key: nginx.conf
            path: nginx.conf
          - key: vhost.conf
            path: vhost.conf
