apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: react
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: react-canary
      stableService: react
      trafficRouting:
        apisix:
          route:
            name: react-route
            rules:
            - react
        managedRoutes:
        - name: header-route
      steps:
      - setCanaryScale:
          replicas: 1
      - setHeaderRoute:
          name: header-route
          match:
          - headerName: X-Canary
            headerValue:
              exact: iwantsit
      - pause: {}
  selector:
    matchLabels:
      app: react
  template:
    metadata:
      labels:
        app: react
    spec:
      containers:
      - image: ghcr.io/go-cinch/pc-react@sha256:2fde626cdc75a855f314704fd8f41bf2bb2fdd314a5655ab778890703443479c
        imagePullPolicy: Always
        name: react
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 80 # For http
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/vhost.conf
          subPath: vhost.conf
      volumes:
      - name: nginx-conf
        configMap:
          name: react-nginx-conf
          items:
          - key: nginx.conf
            path: nginx.conf
          - key: vhost.conf
            path: vhost.conf
