apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: auth
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: auth-canary
      stableService: auth
      trafficRouting:
        apisix:
          route:
            name: auth-private-route
            rules:
            - auth-private
        managedRoutes:
        - name: header-route
      steps:
      - setCanaryScale:
          replicas: 1
      - setHeaderRoute:
          name: header-route
          match:
          - headerName: X-Canary
            headerValue:
              exact: iwantsit
      - pause: {}
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - image: ghcr.io/go-cinch/auth@sha256:6f4481bec5f476634df80b64566d538c3a66988386472c0b6cd552e6ead451af
        imagePullPolicy: Always
        name: auth
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        envFrom:
        - configMapRef:
            name: auth-configmap
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 8080 # For http
        - name: grpc-port
          containerPort: 8180 # For grpc
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
