apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: auth
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: auth-canary
      stableService: auth
      trafficRouting:
        nginx:
          stableIngress: app-ingress
          # add canary header
          additionalIngressAnnotations:
            canary-by-header: X-Canary
            canary-by-header-value: iwantsit
      steps:
      - setWeight: 5
      - pause: {}
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - image: ghcr.io/go-cinch/auth@sha256:31e99071f5959930b3870348998fcb0871f8a1438ac6fd5901f9fb317c540c55
        imagePullPolicy: Always
        name: auth
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        envFrom:
        - configMapRef:
            name: auth-configmap
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 8080 # For http
        - name: grpc-port
          containerPort: 8180 # For grpc
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
