apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ocr
  namespace: app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  # rollout strategy
  strategy:
    canary:
      canaryService: ocr-canary
      stableService: ocr
      steps:
      - setWeight: 5
      - pause: {}
  selector:
    matchLabels:
      app: ocr
  template:
    metadata:
      labels:
        app: ocr
    spec:
      initContainers:
      - name: download-models
        image: curlimages/curl
        command:
        - "sh"
        - "-c"
        - |
          mkdir -p /data/ocr/det /data/ocr/rec /data/ocr/cls /data/helmet/det
          if [ -f /data/ocr/det/inference.onnx ]; then
            expected_md5="f051497ebaf5ed2efa86616bba8fac1e"
            file_md5=$(md5sum /data/ocr/det/inference.onnx | awk '{print $1}')
            if [ "$file_md5" != "$expected_md5" ]; then
              rm -rf /data/ocr/det/inference.onnx
            fi
          fi
          if [ ! -f /data/ocr/det/inference.onnx ]; then
            echo "ocr/det/inference.onnx not exist, downloading..."
            curl -o /data/ocr/det/inference.onnx https://raw.githubusercontent.com/go-cinch/infer-models/7a6395f73822b9cabfadb15139085c926d2ad730/ocr/det/inference.onnx
          else
            echo "ocr/det/inference.onnx already exists, skipping download."
          fi
          if [ -f /data/ocr/rec/inference.onnx ]; then
            expected_md5="70adc5cf104975757e4efd9803242afa"
            file_md5=$(md5sum /data/ocr/rec/inference.onnx | awk '{print $1}')
            if [ "$file_md5" != "$expected_md5" ]; then
              rm -rf /data/ocr/rec/inference.onnx
            fi
          fi
          if [ ! -f /data/ocr/rec/inference.onnx ]; then
            echo "ocr/rec/inference.onnx not exist, downloading..."
            curl -o /data/ocr/rec/inference.onnx https://raw.githubusercontent.com/go-cinch/infer-models/7a6395f73822b9cabfadb15139085c926d2ad730/ocr/rec/inference.onnx
          else
            echo "ocr/rec/inference.onnx already exists, skipping download."
          fi
          if [ -f /data/ocr/cls/inference.onnx ]; then
            expected_md5="eeb768914856e58800ce51640666a157"
            file_md5=$(md5sum /data/ocr/cls/inference.onnx | awk '{print $1}')
            if [ "$file_md5" != "$expected_md5" ]; then
              rm -rf /data/ocr/cls/inference.onnx
            fi
          fi
          if [ ! -f /data/ocr/cls/inference.onnx ]; then
            echo "ocr/cls/inference.onnx not exist, downloading..."
            curl -o /data/ocr/cls/inference.onnx https://raw.githubusercontent.com/go-cinch/infer-models/7a6395f73822b9cabfadb15139085c926d2ad730/ocr/cls/inference.onnx
          else
            echo "ocr/cls/inference.onnx already exists, skipping download."
          fi
          
          if [ -f /data/helmet/det/infer_cfg.yml ]; then
            expected_md5="12973098981926b3fed7c0c57e51247a"
            file_md5=$(md5sum /data/helmet/det/infer_cfg.yml | awk '{print $1}')
            if [ "$file_md5" != "$expected_md5" ]; then
              rm -rf /data/helmet/det/infer_cfg.yml
            fi
          fi
          if [ ! -f /data/helmet/det/infer_cfg.yml ]; then
            echo "helmet/det/infer_cfg.yml not exist, downloading..."
            curl -o /data/helmet/det/infer_cfg.yml https://raw.githubusercontent.com/go-cinch/infer-models/1ab1d37f56ea68bcad8cc816288dcc5012a94904/helmet/det/infer_cfg.yml
          else
            echo "helmet/det/infer_cfg.yml already exists, skipping download."
          fi
          if [ -f /data/helmet/det/inference.onnx ]; then
            expected_md5="17cfb8720cd004fdf89d63888538e74b"
            file_md5=$(md5sum /data/helmet/det/inference.onnx | awk '{print $1}')
            if [ "$file_md5" != "$expected_md5" ]; then
              rm -rf /data/helmet/det/inference.onnx
            fi
          fi
          if [ ! -f /data/helmet/det/inference.onnx ]; then
            echo "helmet/det/inference.onnx not exist, downloading..."
            curl -o /data/helmet/det/inference.onnx https://media.githubusercontent.com/media/go-cinch/infer-models/fe9282e738a5a617225b48947439eddafa8c6b59/helmet/det/inference.onnx
          else
            echo "helmet/det/inference.onnx already exists, skipping download."
          fi
        volumeMounts:
        - name: ocr-pv
          mountPath: /data
        securityContext:
          runAsUser: 0
      containers:
      - image: ghcr.io/go-cinch/ocr@sha256:027a2b7fc63e23ab37640130ee97021cc3ff97d620fd0008c4c8c9e08e3d37f5
        imagePullPolicy: Always
        name: ocr
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
        ports:
        - name: http-port
          containerPort: 8080 # For http
        volumeMounts:
        - name: ocr-pv
          mountPath: /app/models
      volumes:
      - name: ocr-pv
        persistentVolumeClaim:
          claimName: ocr-pvc
