apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana
configurations:
- configurations/rollout-transform.yaml
resources:
- grafana-pvc.yaml
- grafana-deployment.yaml
- grafana-svc.yaml
configMapGenerator:
- name: grafana-configmap
  envs:
  - ./env/user.env
- name: grafana-datasources
  files:
  - datasources.yaml=./provisioning/datasources.yaml