# https://minio.com/docs/minio/latest/setup-minio/installation/kubernetes/
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: minio
  namespace: minio
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: minio
  # rollout strategy
  strategy:
    canary:
      canaryService: minio-canary
      stableService: minio
      trafficRouting:
        apisix:
          route:
            name: minio-console-route
            rules:
            - minio-console
        managedRoutes:
        - name: header-route
      steps:
      - setCanaryScale:
          replicas: 1
      - setHeaderRoute:
          name: header-route
          match:
          - headerName: X-Canary
            headerValue:
              exact: iwantsit
      - pause: {}
  template:
    metadata:
      labels:
        app: minio
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: init-pv-permission
        image: busybox:1.36
        command: ["sh", "-c", "chown -R 1000:1000 /data"]
        volumeMounts:
        - mountPath: /data
          name: minio-pv
      containers:
      - name: minio
        image: minio/minio:RELEASE.2024-09-22T00-33-43Z
        imagePullPolicy: IfNotPresent
        command:
        - /bin/bash
        - -c
        args:
        - minio server /data --address :9000 --console-address :9001
        ports:
        - containerPort: 9000
          name: http-minio
          protocol: TCP
        - containerPort: 9001
          name: http-minio-ui
          protocol: TCP
        resources:
          requests:
            cpu: 50m
            memory: 750Mi
        envFrom:
        - configMapRef:
            name: minio-configmap
        volumeMounts:
        - mountPath: /data
          name: minio-pv
      volumes:
      - name: minio-pv
        persistentVolumeClaim:
          claimName: minio-pvc